<h1><%= t "app" %></h1>
<p><%= t "hi" %> <%= @patient.full_name %>,</p>
<p>
  <%= t "active_account" %>:
</p>
<%= link_to t("active"), edit_account_activation_url(id: @patient.activation_token,
  email: @patient.email) %>
