<% if @news.present? %>
  <table id="example2" class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th><%= t "stt" %></th>
        <th><%= t "image" %></th>
        <th><%= t "title" %></th>
        <th><%= t "content" %></th>
        <th class="action-head"><%= t "action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @news %>
    </tbody>
  </table>
<% else %>
  <h3 class="red_color"><%= t "no_result" %></h3>
<% end %>
