<% provide :title, t("home") %>
<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= t "number_doctor" %></h3>
        <p><%= t "doctor" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <%= link_to "#", class: "small-box-footer" do %>
        <%= t "more_info" %><i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3><%= t "number_staff" %><sup style="font-size: 20px">%</sup></h3>
        <p><%= t "staff" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <%= link_to "#", class: "small-box-footer" do %>
        <%= t "more_info" %><i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3><%= t "number_patient" %></h3>
        <p><%= t "patient" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <%= link_to "#", class: "small-box-footer" do %>
        <%= t "more_info" %><i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3><%= t "number_appointment" %></h3>
        <p><%= t "appointment" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <%= link_to "#", class: "small-box-footer" do %>
        <%= t "more_info" %><i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>
