<div class="contact_form">
  <%= form_for(@new, url: news_path, html: { method: :patch }) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="row padding-message">
      <div class="col col-md-12 message-nice">
        <%= f.hidden_field :staff_id, value: current_user.id %>

        <%= f.label t("title") %>
        <%= f.text_area :title, class: "form-control" %>

        <%= f.label t("content") %>
        <%= f.text_area :content %>

        <div class="row">
          <div class="col-md-4">
            <% @new.images.each do |image| %>
              <%= image_tag image, class: "image avatar new_img", id: "user_avatar" if @new.images.attached? %>
            <% end %>
          </div>
        </div>
        <%= f.label t("image") %>
        <%= f.file_field :images, accept: Settings.image_accept, multiple: true, class: "form-control space upload_image" %>
      </div>
    </div>
    <div class="row text">
      <div class="col col-md-12">
        <%= f.submit t("submit"), class: "btn custom_btn btn-submit" %>
      </div>
    </div>
  <% end %>
</div>
