<div class="col-md-4">
  <div class="widget_raper">
    <%= search_form_for @search, url: news_index_path, class: "widget_search_bar" do |f| %>
      <%= f.search_field :content_or_title_cont, placeholder: t("search"), class: "left_float" %>
      <%= button_tag "", class: "zmdi zmdi-search search_size" %>
    <% end %>
    <div class="recent_post">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <%= link_to "#Popular", class: "nav-link active", data: {toggle: "tab"} do %>
            <%= t "popular" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#Recent", class: "nav-link", data: {toggle: "tab"} do %>
            <%= t "rencent" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#Comments", class: "nav-link", data: {toggle: "tab"} do %>
            <%= t "comments" %>
          <% end %>
        </li>
      </ul>
      <div class="tab-content">
          <%= render "tabpanel" %>
      </div>
    </div>
  </div>
</div>
