<div class="col-md-4">
  <div class="widget_raper">
    <form action="#" class="widget_search_bar">
      <input type="search" placeholder= <%= I18n.t "search" %>>
      <button type="submit"><i class="zmdi zmdi-search"></i></button>
    </form>
    <div class="recent_post">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <%= link_to "#Popular", class: "nav-link active", data: {toggle: "tab"} do %>
            <% t("popular") %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#Recent", class: "nav-link", data: {toggle: "tab"} do %>
            <% t("rencent") %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#Comments", class: "nav-link", data: {toggle: "tab"} do %>
            <% t("comments") %>
          <% end %>
        </li>
      </ul>
      <div class="tab-content">
          <%= render "tabpanel" %>
      </div>
    </div>
  </div>
</div>
