<div role="tabpanel" class="tab-pane fade in active show" id="Popular">
  <%= link_to "#", class: "single_recent_post", data: {turbolinks: "false"} do %>
    <span class="rp_img"><%= image_tag "news3.jpg" %></span>
    <h4><%= t "obituary" %></h4>
    <span><%= Date.today %></span>
  <% end %>
  <%= link_to "#", class: "single_recent_post", data: {turbolinks: "false"} do %>
    <span class="rp_img"><%= image_tag "news3.jpg" %></span>
    <h4><%= t "obituary" %></h4>
    <span><%= Date.today %></span>
  <% end %>
  <%= link_to "#", class: "single_recent_post", data: {turbolinks: "false"} do %>
    <span class="rp_img"><%= image_tag "news3.jpg" %></span>
    <h4><%= t "obituary" %></h4>
    <span><%= Date.today %></span>
  <% end %>
</div>
