<% provide :title, t("news") %>
<div class="breadvroumb_area">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1><%= t "news_list" %></h1>
        <div class="breadcroumb_link">
          <%= link_to t("home"), root_url %>/<%= link_to t("news_list"), news_index_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog_area">
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-md-12">
        <h2 class="color-list total"><%= t "total" %>: <%= total_index_page @news %></h2>
      </div>
      <% if current_user&.staff? || current_user&.admin? %>
        <div class="col-md-4">
          <%= link_to new_news_path, class: "custom_btn btn_size right_float" do %>
            <%= t "add_news" %>
            <i class="zmdi zmdi-plus"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-8 order-md-12">
        <div class="row">
          <%= render @news %>
        </div>
        <%= paginate @news %>
      </div>
      <%= render "slidebar" %>
    </div>
  </div>
</div>
