<% provide :title, t("news") %>
<div class="breadvroumb_area">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1><%= t "news" %></h1>
        <div class="breadcroumb_link">
          <%= link_to t("home"), root_url %>/<%= t "appointment" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="appoinment_form_area p100">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="color-list centered"><b><%= t "create_news" %></b></h2>
        <%= render "news/form_news" %>
      </div>
      <%= render "slidebar" %>
    </div>
  </div>
</div>
