<% provide :title, t("show_news")%>
<div class="blog_area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_detaisl_area">
          <div class="blog_full_content">
            <% if @new.images.attached? %>
              <% @new.images.each do |image| %>
                <%= image_tag image, class: "news_img"%>
              <% end %>
            <% end %>
            <br>
            <h4><%= @new.title %></h4>
            <div class="blog_meta">
              <%= t("comments") %> <%= Settings.number_comment %>
            </div>
            <%= @new.content %>
          </div>
        </div>
      </div>
      <%= render ("slidebar") %>
    </div>
  </div>
</div>
