<div class="contact_form">
  <%= form_for @appointment do |f| %>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <%= f.label t "full_name" %>
        <%= f.text_field :full_name, value: current_user.full_name if current_user %>
      </div>
      <div class="col-lg-6 col-md-12">
        <%= f.label t "phone" %>
        <%= f.text_field :phone_patient, class: "height-input-second" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label t "email" %>
        <%= f.email_field :email_patient, value: current_user.email if current_user %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label t "address" %>
        <%= f.text_field :address_patient, class: "height-input-second" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label t "doctor" %>
        <%= f.select :doctor_id, doctors,
          {}, class: "select-be height-input-second" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <%= f.label t "day" %>
        <%= f.date_field :day, class: "height-input-second" %>
      </div>
      <div>
        <div class="col-lg-3 col-md-12">
          <%= f.label t "from_time" %>
          <%= f.select :from_time, from_time_all,
            {}, class: "select-be height-input-second" %>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <%= f.label t "to_time" %>
        <%= f.select :from_time, to_time_all,
          {}, class: "select-be height-input-second" %>
      </div>
    </div>
    <div class="row padding-message">
      <div class="col col-md-12 message-nice">
        <%= f.text_field :message, placeholder: t("message") %>
      </div>
    </div>
    <div class="row">
      <p class="p-record" ><%= t "medical_record" %>:</p>
      <div class="col col-md-12">
        <%= f.file_field :medical_record %>
      </div>
    </div>
    <div class="row text">
      <div class="col col-md-12">
        <%= f.submit t("submit"), class: "custom_btn btn-submit" %>
      </div>
    </div>
  <% end %>
</div>
