<header>
  <div class="header_top_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
          <div class="htl">
            <p><%= t "welcome_app" %></p>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 text-right">
          <div class="htr">
            <i class="zmdi zmdi-phone"></i><%= t "phone" %>
            <ul class="htr_language">
              <% if logged_in? %>
                <li class="dropdown">
                  <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
                    <%= t "account" %> <b class="caret"></b>
                  <% end %>
                  <ul class="dropdown-menu">
                    <li><%= link_to t("profile"), current_user %></li>
                    <li><%= link_to t("settings"), edit_patient_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to t("signout"), signout_path, method: :delete %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><b><%= link_to t("signin"), signin_path, class:"btn-signin btn" %></b></li>
              <% end %>
              <li class="dropdown">
                <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
                  <%= t "language" %> <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to "English", locale: "en" %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-6">
          <%= link_to home_path, class:"site_logo", data: {turbolinks: "false"} do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>
        <div class="col-lg-10 text-right col-6">
          <nav class="menu_bar">
            <ul class="main_menu space-right">
              <li><%= link_to t("home"), home_path, data: {turbolinks: "false"} %></li>
              <li><%= link_to t("apointment"), "#" %>
                <ul>
                  <li><%= link_to t("doctor_list"), "#" %></li>
                  <li><%= link_to t("doctor_details"), "#" %></li>
                </ul>
              </li>
              <li><%= link_to t("doctor"), doctor_path %>
              </li>
              <li><%= link_to t("patient"), "#", data: {turbolinks: "false"} %></li>
              <li><%= link_to t("about"), about_path, data: {turbolinks: "false"} %></li>
            </ul>
            <form action="#" class="search_form">
              <input type="search" placeholder="Search here">
              <button type="submit"><i class="zmdi zmdi-search search-size"></i></button>
            </form>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
